<div id="topo-candidato">
  </div>

<div id="textos-match-vaga">
<h1>Detalhes do Candidato</h1>
</div>

<p>Nome:{{candidateFromDB.name}}</p>
<p>Sobrenome:{{candidateFromDB.name}}</p>
<p>Cidade:{{candidateFromDB.city}}</p>
<p>Salario pretendido:{{candidateFromDB.wage}}</p>
<p>Skilss:{{candidateFromDB.skills}}</p>
<h2>Entre em contato com o candidato:</h2>
<p>E-mail:{{candidateFromDB.email}}</p>
<p>Telefone:{{candidateFromDB.phone}}</p>
<form action="/matchCandidate/{{currentUser._id}}" method="POST"> 
<button type="submit" class="btn btn-primary">Voltar</button>
</form>
