<div id="topo-candidato">
  </div>


<div id="textos-match-vaga-candidato">
<h2>Detalhes do Candidato!</h2>
</div>

<div id="ficha-candidato">
<h3>Nome: {{candidateFromDB.name}}</h3>
<h3>Sobrenome: {{candidateFromDB.name}}</h3>
<h5>Cidade: {{candidateFromDB.city}}</h5>
<h5>Salario pretendido: {{candidateFromDB.wage}}</h5>

<h4>Envie um email para o recrutador:</h4>
<p>Email: {{candidateFromDB.email}}</p>
</div>