<h1>Detalhes do Candidato</h1>

<p>Nome:{{candidateFromDB.name}}</p>
<p>Sobrenome:{{candidateFromDB.name}}</p>
<p>Cidade:{{candidateFromDB.city}}</p>
<p>Salario pretendido:{{candidateFromDB.wage}}</p>

<h2>Envie um email para o recrutador:</h2>
<p>email:{{candidateFromDB.email}}</p>