<h1>Detalhes Vaga</h1>

<p>nome da vaga:{{jobFromDB.title}}</p>
<p>Cidade:{{jobFromDB.city}}</p>
<p>Empresa:{{jobFromDB.company}}</p>
<p>Salario:{{jobFromDB.wage}}</p>
<p>Recrutador:{{jobFromDB.recruiter_id.name}} {{jobFromDB.recruiter_id.lastName}}</p>

<h2>Envie um email para o recrutador:</h2>
<p>Email do Recrutador:{{jobFromDB.recruiter_id.email}}</p>