<div class="topo-candidato">
</div>
<div class="textos-header">
  <h2>Detalhes Vaga</h2>
</div>
<div id="ficha-job">
  <h4>Nome: {{jobFromDB.title}}</h4>
  <h5>Cidade: {{jobFromDB.city}}</h5>
  <h5>Empresa: {{jobFromDB.company}}</h5>
  <h5>Salario: R${{jobFromDB.wage}},00</h5>
  <h5>Skills: {{jobFromDB.skills}}</h5>
  <h5>Recrutador: {{jobFromDB.recruiter_id.name}} {{jobFromDB.recruiter_id.lastName}}</h5>
  <h4>Envie um email para o recrutador:</h4>
  <p>Email do Recrutador: {{jobFromDB.recruiter_id.email}}</p>
  <h5>Telefone do Recrutador: {{jobFromDB.recruiter_id.phone}}</h5>
  <form action="/matchJob/{{currentUser._id}}" method="POST">
    <button type="submit" class="btn btn-primary">Voltar</button>
  </form>
</div>