<div id="topo-candidato">
  </div>
<div id="textos-match-vaga">
<h2>Olá, {{currentUser.name}}!</h2>
<h3>Aqui estão todas as vagas correspondentes às suas skills:</h3>
</div>

{{#each resultJobs }}


<a href="jobDetails/{{this._id}}">
<p>Nome da Vaga: {{this.title}}></p>
</a>
<p>Cidade: {{this.city}}</p>
<p>Empresa: {{this.company}}</p>
<p>Skills: {{this.skills}}</p>
<p>Salario: {{this.wage}}</p>

{{/each}}



<button type="submit" id="button-back-profileCandidate" class="btn btn-primary">
<a href="/profileCandidate" >Voltar</a></button>
