<div id="topo-candidato">
  </div>
<div id="textos-match-vaga">
<h2>Olá, {{currentUser.name}}!</h2>
<h3>Aqui estão todas as vagas correspondentes às suas skills:</h3>
</div>

{{#each resultJobs }}


<a href="jobDetails/{{this._id}}">
<p>Nome da Vaga: {{this.title}}></p>
</a>
<p>Cidade: {{this.city}}</p>
<p>Empresa: {{this.company}}</p>
<p>Skills: {{this.skills}}</p>
<p>Salario: {{this.wage}}</p>
<p>Recrutador: {{this.recruiter_id.name}} {{this.recruiter_id.lastName}}</p>
<p>Email do Recrutador: {{this.recruiter_id.email}}</p>
{{/each}}
<p>Entre em contato com o Recrutador através do e-mail.</p>


<button type="submit" id="button-back-profileCandidate">
<a href="/profileCandidate" >Voltar</a></button>