<div class="topo-candidato">
</div>

<div class="textos-header">
  <h2>Olá, {{currentUser.name}}!</h2>
  <h3>Aqui estão todas as vagas correspondentes às suas skills:</h3>
</div>

<div id="cards-candidato">
  {{#each resultJobs }}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <figure>
        <img src="/images/img-cards.png" class="card-img-top" alt="...">
        <a href="jobDetails/{{this._id}}">
          <figcaption id="figure-caption-jobs">Vaga: {{this.title}}</figcaption>
        </a>
      </figure>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cidade: {{this.city}}</li>
      <li class="list-group-item">Empresa: {{this.company}}</li>
      <li class="list-group-item">Skills: {{this.skills}}</li>
    </ul>
  </div>
  {{/each}}
</div>



<button type="submit" class="btn btn-primary" id="button-back-profileCandidate">
  <a href="/profileCandidate">Voltar</a></button>