<h2>Edite suas informações</h2>

<form action="/editCandidate/{{candidateFromDB._id}}" method="POST">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name-candidate" placeholder="Nome" value="{{candidateFromDB.name}}"><br>
        <label for="lastName">Sobrenome</label>
        <input type="text" name="lastName" id="last-name-canditate" placeholder="Sobrenome" value="{{candidateFromDB.lastName}}"><br>
        <label for="phone">Telefone</label>
        <input type="text" name="phone" id="phone" placeholder="Telefone" value="{{candidateFromDB.phone}}"><br>
        <label for="city">Cidade</label>
        <input type="text" name="city" id="city" placeholder="Cidade" value="{{candidateFromDB.city}}"><br>
        <label for="skills">Skills - Descreva 05 (cinco) Skills</label>
        <input type="text" name="skills" id="skills" placeholder="Skills" value="{{candidateFromDB.skills}}"><br>
        <label for="wage">Salário Base</label>
        <input type="text" name="wage" id="wage" placeholder="Salário Base" value="{{candidateFromDB.wage}}"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password-candidate" placeholder="***********"><br>
        <button type="submit">Salvar</button>


        </form>