 <h2>Olá, {{candidateFromDB.name}} <br>, por favor, edite suas informações</h2>
  <div id="edit-recruiter"></div>
 <figure>
  <img src="https://filestore.community.support.microsoft.com/api/images/6061bd47-2818-4f2b-b04a-5a9ddb6f6467?upload=true" alt="Minha Figura">
 </figure>
 <div>
 
<form action = "/editCandidate/{{candidateFromDB._id}}" method = "post">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name-recruiter" placeholder="Nome" value="{{candidateFromDB.name}} ">
    </br></br>
    <label for="lastName">Sobrenome</label>
    <input type="text" name="lastName" id="last-recruiter" placeholder="Sobrenome" value="{{candidateFromDB.lastName}}">
    </br></br>
    <label for="city">Cidade</label>
    <input type="text" name="city" id="city-recruiter" placeholder="Cidade da Empresa" value="{{candidateFromDB.city}}">
    </br></br>
    <label for="phone">Telefone</label>
    <input type="text" name="phone" id="phone-recruiter" placeholder="Telefone" value="{{candidateFromDB.phone}}">
    </br></br>
    <label for="skills">Skills - Descreva 05 (cinco) Skills</label>
    <input type="text" name="skills" id="skills" placeholder="Skills" value="{{candidateFromDB.skills}}">
    </br></br>
    <label for="wage">Salário Base</label>
    <input type="text" name="wage" id="wage" placeholder="Salário Base" value="{{candidateFromDB.wage}}">
    </br></br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password-recruiter" placeholder="********"/>
    </br></br>
    <button type="submit" id="update-recruiter">Salvar</button>
    </form>
{{{formListRecruiter}}}
</div>
</div>

 {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
