<div class="topo-candidato"></div>

<div class="textos-header">
  <h2>Bem-vindo, {{currentUser.name}} </h2>
</div>
<div id="edit-recruiter"></div>
  <figure>
    <img src="{{currentUser.imageUrl}}" alt="Minha Figura">
  </figure>
     <div>
        {{{formListRecruiter}}}
      </div>
  
  <p class="p-estilizacao">Agora você pode aproveitar todos os benefícios do Finder</p>
  <button type="submit" id="button-edit-profile-recruiter" class="btn btn-primary">
    <a href="/editCandidate/{{currentUser._id}}" >Edit seus dados</a>
  </button>
  <br><br>
  <form action="/matchJob/{{currentUser._id}}" method="post" id="match-form-candidate">
    <button type="submit" id="button-match-candidate" class="btn btn-primary"> Match</button>
  </form>
  <br>
  
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  </div>